/src/app/bootstrap/cache/*
/src/node_modules
/src/storage/app/modules/*
/src/storage/app/public/*
/src/storage/framework/cache/*
/src/storage/framework/sessions/*
/src/storage/framework/views/*
/src/vendor
/src/.env
